<!-- ejemplo de ng-component -->
<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container- fluid">
  <saludo></saludo>
  <div class="container">
    <app-padre></app-padre>
  </div>
</div>-->

<!-- <app-eventos></app-eventos>  -->
<!-- input 
<app-sumar [num1]="numeros[0]" [num2]="numeros[1]"></app-sumar>
<app-sumar [num1]="numeros[2]" [num2]="numeros[3]"></app-sumar>
<app-sumar [num1]="95" [num2]="100"></app-sumar>-->
<!-- <app-cronometro></app-cronometro>
<app-cronometro></app-cronometro>
<app-cronometro></app-cronometro>
<app-cronometro></app-cronometro>-->

<!-- /// input y otput -->
<!-- <app-cronometro [inicio]="numeros[0]" (terminaCronometro)="onTerminaCronometro($event)"></app-cronometro> 
<app-cronometro inicio="6" (terminaCronometro)="onTerminaCronometro($event)"></app-cronometro> 
<app-cronometro inicio="12" (terminaCronometro)="onTerminaCronometro($event)"></app-cronometro> 
<app-calculadora></app-calculadora> -->

<!--ejercicio de las alertas  
  <app-alerta [text]="titulos[0]" subtitulo="primero"></app-alerta>
<app-alerta text="mensaje2"></app-alerta>
<app-alerta subtitulo="tercero" [text]="titulos[2]"></app-alerta>

<!-- {{titulos}} 

<app-alerta [text]="titulos[0]" subtitulo="primero"
(alertapulsada)="onAlertapulsada($event)"></app-alerta>
<app-alerta text="mensaje2"></app-alerta>
<app-alerta subtitulo="tercero" [text]="titulos[2]" (alertapulsada)="onAlertapulsada($event)"></app-alerta> -->
<!-- [(ngModel)]="binding"
<input type="text" [(ngModel)]="campoTexto">

<p>{{campoTexto}}</p>
<button (click)="onClick1()"> Cambia valor variable</button>

<br><br>



<div>
  <input type="text" [(ngModel)]="persona.nombre"><br>
  <input type="text" [(ngModel)]="persona.apellido"><br>
  <input type="text" [(ngModel)]="persona.edad">
</div>

<p>Me llamo {{persona.nombre}} {{persona.apellido}} tengo {{persona.edad}} años</p> -->

<!-- to do simple
<div>
  <app-forms (tareaCreada)="onTareaCreada($event)"></app-forms>
</div>
<br>

<app-lista [tareas]="arrTareas"></app-lista> -->

<!-- texto padre -->
<!-- <app-main [texto]='mainTexto'></app-main> -->

<!-- ngstyle -->
<!-- <app-ngstyle></app-ngstyle> -->

<!-- ngclass  -->
<!-- <app-ngclass></app-ngclass> -->

<!-- ng if  -->
<!-- <app-ngif></app-ngif> -->


<!-- ng for  -->
<!-- <app-ngfor></app-ngfor> -->

<!-- ngswwich -->
<!-- <app-ngswich></app-ngswich> -->

<!-- to-do directivas -->
<!-- <app-to-do></app-to-do> -->

<!-- cajaregistradora -->
<!-- <app-caja-registradora></app-caja-registradora> -->

<!-- directivas personalizadas -->
<!-- <p appSubrayado>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ut dignissimos, qui necessitatibus consequatur harum soluta tenetur fugiat iusto, voluptate in, eum nisi dicta alias! Suscipit quod soluta sapiente quo?</p>
<p appSubrayado>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ut dignissimos, qui necessitatibus consequatur harum soluta tenetur fugiat iusto, voluptate in, eum nisi dicta alias! Suscipit quod soluta sapiente quo?</p> -->

<!-- ejercicio listade compras -->
<!-- <app-ejerciciolista></app-ejerciciolista> -->

<!-- RUTAS  -->
<!-- <app-rutas></app-rutas> -->

<!-- servicios -->
<!-- <app-ejeservice></app-ejeservice> -->

<!-- ejercico de servicios escritores -->
<!-- <app-escritores></app-escritores> -->


<router-outlet></router-outlet>
