<!-- <p *ngIf="mostrar; then mainBlock else elseBlock">1111111111Lorem ipsum dolor sit amet, con sectetur adipisicing elit. Tenetur omnis quae quam impedit possimus. Eligendi quidem, veritatis nemo sit unde est hic non incidunt quasi in repellendus animi alias aperiam?

</p>
<ng-template #mainBlock>
  <p>2222222222Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sed provident accusamus culpa expedita non ipsum adipisci blanditiis hic praesentium quae sint odit, deserunt iusto in voluptatibus accusantium perspiciatis qui?</p>
</ng-template>
<ng-template #elseBlock>
  <p>333333333Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sed provident accusamus culpa expedita non ipsum adipisci blanditiis hic praesentium quae sint odit, deserunt iusto in voluptatibus accusantium perspiciatis qui?</p>
</ng-template> -->

<p *ngIf="mostrar">11111111111Lorem ipsum dolor sit amet consectetur adipisicin.</p>
<p *ngIf="!mostrar">2222222222222Lorem ipsum dolor sit amet consectetur adipisicing e.</p>

<button (click)="onClickMostrar()">Mostrar/Ocultar</button>
